<div class="container">
  
  <div class="intro">
    <img class="camera" src="../assets/camera@2x.png" />
    <h1>Onbegluurd?</h1>
    <h2>
      Hoe vaak wordt jouw fietsroute door beveiligingscamera's gefilmd?
    </h2>
    <p>Kies je stad:</p>
  </div>

  <span class="stad" routerLink="../kaart/utrecht">
      <img src="../assets/utrecht-s@2x.png" />
      <h2>Utrecht</h2>
  </span>

  <span class="stad" routerLink="../kaart/amsterdam">
      <img src="../assets/amsterdam-s@2x.png" />
      <h2>Amsterdam</h2>
  </span>

  <span class="stad" routerLink="../kaart/rotterdam">
      <img src="../assets/rotterdam-s@2x.png" />
      <h2>Rotterdam</h2>
  </span>

  <span class="stad" routerLink="../kaart/den-haag">
      <img src="../assets/den-haag-s@2x.png" />
      <h2>Den Haag</h2>
  </span>

  <div class="colofon">
    <p>Gemaakt door <a href="https://geogap.nl/">Geogap</a>, <a href="http://geoloep.nl">Geoloep</a> en 
    <a href="https://webmapper.net/">Webmapper</a> op basis van open data <span class="link" routerLink="../colofon">Colofon</span></p>
  </div>

</div>
