
<div class="webcam-display">
    <webcam *ngIf="showWebcam"></webcam>
    <button *ngIf="showWebcam" class="cameraSwitch" (click)="toggleWebcam();"> <img src="../assets/camera-icon@2x.png"> </button>
    <button *ngIf="!showWebcam" class="cameraSwitch" (click)="toggleWebcam();"> <img src="../assets/camera-icon@2x.png"> </button>
</div>
<app-graph *ngIf="routeData" [data]="routeData">
</app-graph>

<div class="map" id="map">
    <div class="sidebar" [ngClass]="{'active': sidebarActive === true}" (click)="openMenu($event)"> <img class="camera" src="../assets/camera-s@2x.png" title="Onbegluurd.nl" />
        <div class="side-menu">
            <h3 routerLink="../..">Home</h3>
            <h3 routerLink="../utrecht" (click)="recenterMap('utrecht', $event)">Utrecht</h3>
            <h3 routerLink="../amsterdam" (click)="recenterMap('amsterdam', $event)">Amsterdam</h3>
            <h3 routerLink="../rotterdam" (click)="recenterMap('rotterdam', $event)">Rotterdam</h3>
            <h3 routerLink="../den-haag" (click)="recenterMap('den-haag', $event)">Den Haag</h3>
            <h3 routerLink="../../colofon">Colofon</h3>
        </div>
    </div>
</div>
<app-from-to>
</app-from-to>
