#map {
 width: 100%;
 height: 100%;
}

img.camera{
  width: 75px;
  z-index: 401;
  position: relative;
  margin: 15px;
}

.logo-title{
  z-index: 401;
  position: relative;
}

.logo-title span{
  color: #fff;
  position: absolute;
  top: 23px;
  font-size: 25px;
  left: 78px;
}