#map {
 width: 100%;
 height: 100%;
}

img.camera{
  width: 75px;
  z-index: 401;
  position: relative;
  margin: 15px;
}

.logo-title{
  z-index: 401;
  position: relative;
}

.logo-title span{
  color: #fff;
  position: absolute;
  top: 23px;
  font-size: 25px;
  left: 78px;
}

.side-menu{
  position: absolute;
  z-index: 401;
  color: #fff;
  top: 97px;
  left: -200px;
  background: #101010de;
  padding: 0 15px;
  transition: left 0.5s;
}

.active .side-menu{
  left: 15px;
  transition: left 0.5s;
}

.side-menu h3{
  font-weight: normal;
  cursor: pointer;
}

.side-menu h3:hover{
  color: #ddd;
}

app-graph{
  position: absolute;
  z-index: 401;
  color: #fff;
  bottom: 0px;
  left: 0px;
  margin:10px;
  background: #101010de;
  transition: left 0.5s;
  height:100px;
  width:60%;
  border: 1px solid #f6be0e;
}

