#map {
 width: 100%;
 height: 100%;
}

img.camera{
  width: 75px;
  z-index: 401;
  position: relative;
  margin: 15px;
  cursor: pointer;
}

.logo-title{
  z-index: 401;
  position: relative;
}

.logo-title span{
  color: #fff;
  position: absolute;
  top: 23px;
  font-size: 25px;
  left: 78px;
}

.side-menu{
  position: absolute;
  z-index: 401;
  color: #fff;
  top: 97px;
  left: -200px;
  background: #101010de;
  padding: 0 15px;
  transition: left 0.5s;
}

.active .side-menu{
  left: 15px;
  transition: left 0.5s;
}

.side-menu h3{
  font-weight: normal;
  cursor: pointer;
}

.side-menu h3:hover{
  color: #ddd;
}


app-graph{
  position: absolute;
  z-index: 401;
  bottom: 0px;
  left: 0px;
  margin:10px;
  height: 184px;
  width:95%;
  width: calc(100% - 20px);
  transition: left 0.5s;
  color: #fff;
  background: rgba(61, 61, 61, 0.84);
}

app-graph #camera-titel{
    display: inline;
    font-size: 14pt;
    margin:0;
    padding:0;
}
