.from-to-container {
    position: absolute;
    height: 52px;
    width: 380px;
    background: #f6be0e;
    z-index: 500;
    right: 20px;
    top: 20px;
    display:flex;
    flex-direction: row;
    padding: 7px 10px 13px;
}

label {
    font-size: small;
    position: relative;
    top: -3px;
}

#from-container input{
    width: 141px;
}

input {
    width: 145px;
    background: #f3ca44;
    border: solid 2px black;
    padding: 6px 5px;
}

button {
    background: #cfa109;
    border: solid 2px black;
    cursor: pointer;
    margin-top: 21px;
    padding: 5px 9px 6px;
}

button:hover {
    background: #f6be0e;
}

button:active {
    background: #f3ca44;
}

#vansuggests{
    position: absolute;
    background: #ffe79a;
    left: 0px;
    top: 76px;
    width: 400px;
}

#vansuggests ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#vansuggests li{
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #f6be0e;
}

#vansuggests li:hover{
    background: #fff;
}

#naarsuggests{
    position: absolute;
    background: #ffe79a;
    left: 0px;
    top: 76px;
    width: 400px;
}

#naarsuggests ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#naarsuggests li{
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #f6be0e;
}

#naarsuggests li:hover{
    background: #fff;
}

