.from-to-container {
    position: absolute;
    height: auto;
    width: 66%;
    width: calc(100% - 144px);
    background: #f6be0e;
    z-index: 500;
    right: 20px;
    left: 108px;
    top: 15px;
    padding: 7px 10px 16px;
}

@media(min-width: 550px){
    .from-to-container {
        top: 20px;
        left: inherit;
        width: auto;
    }
}

label {
    font-size: 13px;
    position: relative;
    top: -2px;
    display: block;
    margin: 4px 0 3px;
}

#from-container input{
    width: 94%;
}

input {
    width: 94%;
    background: #f3ca44;
    border: solid 2px black;
    padding: 6px 5px;
}

button {
    background: #cfa109;
    border: solid 2px black;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 9px 6px;
}

button:hover {
    background: #f6be0e;
}

button:active {
    background: #f3ca44;
}

#vansuggests{
    position: absolute;
    background: #ffe79a;
    left: 0px;
    top: 102px;
    width: 400px;
    min-height: 317px;
}

#vansuggests ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#vansuggests li{
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #f6be0e;
}

#vansuggests li:hover{
    background: #fff;
}

#naarsuggests{
    position: absolute;
    background: #ffe79a;
    left: 0px;
    top: 102px;
    width: 400px;
    min-height: 317px;
}

#naarsuggests ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

#naarsuggests li{
    padding: 8px 10px;
    cursor: pointer;
    font-size: 14px;
    border-bottom: 1px solid #f6be0e;
}

#naarsuggests li:hover{
    background: #fff;
}

.checkbox-container {
    z-index: 500;
}

.checkbox {
    width: 18px;
    height: 18px;
    position: absolute;
}

.checkbox-container span{
    padding-left: 27px;
    font-size: 14px;
}