<div class="container">
  <div class="intro">
    <img class="camera" src="../assets/camera@2x.png" />
    <h1>Colofon</h1>
    <h2>Waarom</h2>
    <h2>Data</h2>
    <h3>Camera-locaties</h3>
    <ul>
      <li>Amsterdam</li>
      <li>Den Haag</li>
      <li>Rotterdam</li>
      <li>Utrecht</li>
    </ul>
    <p>Deze sets zijn aangevuld met camera's uit de BGT/IMGeo dataset.</p>
    <h3>Camera-zichtveld</h3>
    <p>Aanname: afstand standaard op 25 meter en 360&deg; zicht. Camera's die bovenop een gebouw zijn geplaats zijn naar de dakrand verplaatst om vanaf die positie het zichtveld te berekenen.</p>
    <h2>Technologie</h2>
    <ul>
      <li>Angular 2</li>
      <li>Leaflet</li>
      <li>FME</li>
      <li>Postgres, PostGIS, pgRouting</li>
      <li>OSMR</li>
    </ul>
    <h2>Over ons</h2>
    <p>De website is gemaakt door
      <a href="https://geogap.nl/">Geogap</a>,
      <a href="http://geoloep.nl">Geoloep</a> en
      <a href="https://webmapper.net/">Webmapper</a>
    </p>
  </div>
</div>