.container{
    text-align: center;
    flex: 1;
    margin-bottom: 50px;
}

img.camera{
  width: 75px;
  z-index: 401;
  position: absolute;
  margin: 15px;
  left: 0;
  cursor: pointer;
}

.logo-title{
  z-index: 401;
  position: relative;
}

.logo-title span{
  color: #fff;
  position: absolute;
  top: 23px;
  font-size: 25px;
  left: 78px;
}

.side-menu{
  position: absolute;
  z-index: 401;
  color: #fff;
  top: 97px;
  left: -200px;
  background: #101010de;
  padding: 0 15px;
  transition: left 0.5s;
}

.active .side-menu{
  left: 15px;
  transition: left 0.5s;
}

.side-menu h3{
  font-weight: normal;
  cursor: pointer;
}

.side-menu h3:hover{
  color: #ddd;
}

.intro{  
  padding-bottom: 30px;
}

h1{
    position: relative;
    padding-bottom: 13px;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 22px;
    margin-top: 15px;
}

h1:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 20px;
    border:2px solid #f6be0e;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);  
  }

h1, h2, h3 {color: #fff;}

.intro p {
    color: #fff;
    max-width: 600px;
    display: inline-block;
    padding: 0 40px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
  text-align: center;
}

ul {
  color: #ffffff;
  list-style-type: none;
  padding-left: 0;
}

li{
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px;
  margin-right: 5px;
}

a, a:visited{
  color: #ccc;
}